build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.cproject
cscope.*
Debug
GPATH
GRTAGS
GTAGS
/libs
Makefile
/obj
out
.project
*.swp
foo
bar
new
testing_boot
testing_a_full_cycle
testing_xtest
test_another_full_cycle
test_checkpatch
test_another_full_cycle
test_checkpatch
test_multibuild_multilog
